$text_color: #435aa7;
$bg_color: #fefff5;
$line_color: #e9e9e9;

$grid: 15px !default;
$grid_space: $grid + 1 !default;

html {
  height: 100%;
}

.logo {
  height: 50px;
  width: auto;
}

path {
  fill: $text_color;
}

object {
  pointer-events: none;
}

body {
  background-color: $bg_color;
  background-image: repeating-linear-gradient(0deg,transparent,transparent $grid,$line_color $grid,$line_color $grid_space),repeating-linear-gradient(-90deg,transparent,transparent $grid,$line_color $grid,$line_color $grid_space);
  background-size: $grid_space $grid_space;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Lucida Console", Monaco, monospace;
  color: $text_color;
}

// make <a> not change color
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: .8;
}

main {
  //height: 100%;
  text-align: center;
  padding-bottom: 4em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 4em;
  font-size: 1em;
  text-align: center;
}

h1 {
  margin: 0 0 1vh;
  font-size: 4.6em;
  line-height: 1em;
}

h2 {
  margin: 0;
  font-size: 2.7em;
}

#icons {
  margin: 2vh 0 0;
  list-style-type: none;
  padding-left: 0;
}
#icons li {
  display: inline-block;
  margin: 1em;
}

@media screen and (max-width: 750px) {
  $grid: 15px;
  $grid_space: $grid + 1;
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.4em;
  }

  #icons li {
    margin: .8em;
  }

  footer {
    font-size: .8em;
  }
}
@media screen and (max-height: 400px) {
  $grid: 15px;
  $grid_space: $grid + 1;
h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.4em;
}

#icons li {
  margin: .8em;
}

footer {
  font-size: .8em;
}
}